# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# Xcode automatic project files
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Core Data (SwiftData) SQLite files
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Logs
*.log

# Xcode Previews
PreviewContent/

# Bundle artifacts
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files
*.tmp
*.swp
*~

